{% extends "index.html" %}

{% block title %}Trang chủ{% endblock %}

{% block pagecontent %}
<div class="">
    <div class="title">Về đồ án</div>
    <div>
        <span class="is-size-4">Ngôn ngữ sử dụng</span>
        <a class="is-size-4" href="https://www.python.org" target="_blank">
            <span class="icon is-large">
                <i class="fab fa-python is-size-3"></i>
            </span>
        </a>
    </div>
    <div>
        <span class="is-size-4">Framework sử dụng</span>
        <a class="is-size-4" href="https://flask.palletsprojects.com/en/1.1.x/" target="_blank">
            Flask
        </a>
    </div>
    <div>
        <span class="is-size-4">Thư viện chính sử dụng</span>
        <a class="is-size-4" href="https://scikit-learn.org/stable" target="_blank">
            Scikit Learn
        </a>
    </div>
    <div class="title mt-3">Về tác giả</div>
    <div>
        <div>
            <span class="is-size-4">Research</span>
            <a class="is-size-4" href="https://github.com/hggduu" target="_blank">
                <span class="icon is-large">
                    <i class="fas fa-search is-size-3"></i>
                </span>
            </a>
        </div>
        <div>
            <span class="is-size-4">Develop</span>
            <a class="is-size-4" href="https://github.com/hggduu" target="_blank">
                <span class="icon is-large">
                    <i class="fas fa-laptop is-size-3"></i>
                </span>
            </a>
        </div>
        <div>
            <span class="is-size-4">Document</span>
            <a class="is-size-4" href="https://www.facebook.com/nguyen.thanhdat1404" target="_blank">
                <span class="icon is-large">
                    <i class="fas fa-pen is-size-3"></i>
                </span>
            </a>
        </div>
    </div>
</div>
{% endblock %}