{% extends "index.html" %}

{% block title %}Trang chủ{% endblock %}

{% block pagecontent %}
<form action="/predict/" method="post">
    <label for="workingcapital">Working Capital 1: </label>
    <input id="workingcapital" type="text" name="workingcapital" value="{{ workingcapital }}">
    <input type="submit" value="Submit">
</form>

<script>
    document.getElementById("datainput").classList.remove("is-active");
    document.getElementById("datapreprocess").classList.remove("is-active");
    document.getElementById("dataprocess").classList.add("is-active");
</script>
{% endblock %}