{% extends "index.html" %}

{% block title %}Trang chủ{% endblock %}

{% block pagecontent %}
<div class="title">Chọn phương pháp</div>
<div class="method-container mb-3" id="choose-method">
  <p>
    <label class="radio">
      <input type="radio" name="method" value="decisiontree" checked>
      Decision tree
    </label>
  </p>
  <p>
    <label class="radio">
      <input type="radio" name="method" value="randomforest">
      Random forest
    </label>
  </p>
  <p>
    <label class="radio">
      <input type="radio" name="method" value="gaussiannb">
      Naive Bayes GaussianNB
    </label>
  </p>
  <!-- <p>
    <label class="radio">
      <input type="radio" name="method" value="multinomialnb">
      Naive Bayes MultinomialNB
    </label>
  </p> -->
  <p>
    <label class="radio">
      <input type="radio" name="method" value="bernoullinb">
      Naive Bayes BernoulliNB
    </label>
  </p>
</div>

<div class="title">Phương pháp training và đánh giá</div>
<div class="train-test-container mb-3" id="choose-traintest">
  <div>
    <label class="radio">
      <input type="radio" name="traintest" value="split" checked>
      Train/Test Split
    </label>
    <span class="ml-5">Test:</span>
    <span>
      <input id="splittest" class="input is-small" style="width: 5%;" type="number" min="0" max="100"
        placeholder="Test">%
    </span>
    <span>, Train:</span>
    <span id="splittrain"></span>%
  </div>
  <div>
    <label class="radio">
      <input type="radio" name="traintest" value="kfold" checked>
      KFold
    </label>
    <span class="ml-5">Folds:</span>
    <span>
      <input id="folds" class="input is-small" style="width: 5%;" type="number" min="0" max="100"
        placeholder="Folds">
    </span>
  </div>
</div>

<p class="mb-3">
  <button class="button is-dark" id="process-button">Xử lí</button>
</p>

<div class="accuracy is-hidden mb-3" id="accuracy-report">
  <div class="title">Confusion Matrix</div>
  <div>
    <table class="table">
      {%for row in confusion_matrix%}
      <tr>
        {%for col in row%}
        <td>{{ col }}</td>
        {%endfor%}
      </tr>
      {%endfor%}
    </table>
  </div>

  <div class="title">Accuracy Score</div>
  <div>{{accuracy_score}}</div>

  <div class="title">Classification Report</div>
  <div class="table-container" style="max-height: 300px; overflow: auto;">
    <table class="table">
      <tr>
        <td></td>
        <td>Precision</td>
        <td>Recall</td>
        <td>F1 Score (F-Measure)</td>
        <td>Support</td>
      </tr>
      {% for key, values in classification_report.items() %}
      <tr>
        <td>{{ key }}</td>
        <td>{{ values.precision }}</td>
        <td>{{ values.recall }}</td>
        <td>{{ values.f1score }}</td>
        <td>{{ values.support }}</td>
      </tr>
      {% endfor%}
    </table>
  </div>
</div>

<p class="mb-3">
  <button class="button is-dark" id="classification-button">Phân lớp</button>
</p>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    document.getElementById("datapreprocess").classList.add("is-active");

    afterPageLoad();

    function getSelectedValue(id) {
      var list = document.getElementById(id).getElementsByTagName("input");
      for (var i = 0; i < list.length; i++) {
        if (list[i].checked) {
          return list[i].value;
        }
      }
    }

    function setSeletedValue(id, value) {
      var list = document.getElementById(id).getElementsByTagName("input");
      for (var i = 0; i < list.length; i++) {
        if (list[i].value == value) {
          list[i].checked = true;
        }
      }
    }

    function getInfoFromUrl(callback) {
      var href = window.location.href;
      var href = href.split("/");
      var result = {
        'step':'',
        'chosenData': '',
        'chosenImputation': '',
        'chosenMethod': '',
        'chosenTraintest': '',
        'value': ''
      };

      for (var i = 0; i < href.length; i++) {
        result.step = href[3];
        if (i == 4) {
          result.chosenData = href[4];
        } else if (i == 5) {
          result.chosenImputation = href[5];
        } else if (i == 6) {
          result.chosenMethod = href[6];
        } else if (i == 7) {
          result.chosenTraintest = href[7];
        } else if (i == 8) {
          result.value = href[8];
        }
      }
      console.log(result);
      callback(result);
    }

    function getMethodValue(chosenTraintest) {
      if (chosenTraintest == "split") {
        return document.getElementById("splittest").value;
      } else if (chosenTraintest == "kfold") {
        return document.getElementById("folds").value;
      }
    }

    function setMethodValue(chosenTraintest, value) {
      if (chosenTraintest == "split") {
        document.getElementById("splittest").value = value;
      } else if (chosenTraintest == "kfold") {
        document.getElementById("folds").value = value;
      }
    }

    document.getElementById("process-button").addEventListener("click", function () {
      getInfoFromUrl(function (obj) {
        obj.chosenMethod = getSelectedValue("choose-method");
        obj.chosenTraintest = getSelectedValue("choose-traintest");
        value = getMethodValue(obj.chosenTraintest);
        if (value == "") {
          value = "20";
        }
        obj.value = value;
        var href = "/choosedatatrain" + "/" + obj.chosenData + "/" + obj.chosenImputation + "/" + obj.chosenMethod + "/" + obj.chosenTraintest + "/" + obj.value;
        setTimeout(function () { window.location.href = href; }, 500);
      })
    })

    function afterPageLoad() {
      getInfoFromUrl(function (obj) {
        if (obj.step == "choosedatatrain") {
          document.getElementById("accuracy-report").classList.remove("is-hidden");
        }
        if (obj.chosenMethod != "") {
          setSeletedValue("choose-method", obj.chosenMethod);
          setSeletedValue("choose-traintest", obj.chosenTraintest);
          setMethodValue(obj.chosenTraintest, obj.value);
        }
      })
    }

    document.getElementById("classification-button").addEventListener("click", function () {
      getInfoFromUrl(function (obj) {
        obj.chosenMethod = getSelectedValue("choose-method");
        obj.chosenTraintest = getSelectedValue("choose-traintest");
        value = getMethodValue(obj.chosenTraintest);
        if (value == "") {
          value = "20";
        }
        obj.value = value;
        var href = "/choosedatapredict" + "/" + obj.chosenData + "/" + obj.chosenImputation + "/" + obj.chosenMethod + "/" + obj.chosenTraintest + "/" + obj.value;
        setTimeout(function () { window.location.href = href; }, 500);
      })
    })

    document.getElementById("splittrain").innerHTML = 100 - document.getElementById("splittest").value;

  })
</script>
{% endblock %}