{% extends "index.html" %}

{% block title %}Dữ liệu{% endblock %}

{% block pagecontent %}
<div>
  <div class="choose-data-container mb-3" id="choose-data">
    <div class="title">Chọn dữ liệu</div>
    <p>
      <label class="radio">
        <input type="radio" name="yeardata" value="1year" checked>
        Các chỉ số tài chính của năm tài chính thứ I và lớp tương ứng chỉ ra kết quả phá sản sau 5 năm
      </label>
    </p>
    <p>
      <label class="radio">
        <input type="radio" name="yeardata" value="2year">
        Các chỉ số tài chính của năm tài chính thứ II và lớp tương ứng chỉ ra kết quả phá sản sau 4 năm
      </label>
    </p>
  </div>

  <div class="preprocess-data-container mb-3" id="choose-imputation">
    <div class="title">Tiền xử lí dữ liệu</div>
    <p>
      <label class="radio">
        <input type="radio" name="imputation" value="mean">
        Mean imputation
      </label>
    </p>
    <!-- <p>
      <label class="radio">
        <input type="radio" name="imputation" value="other">
        Other imputation
      </label>
    </p> -->

  </div>

  <p class="mb-3">
    <button class="button is-dark" id="preprocess-button">Tiền xử lí</button>
  </p>

  <div class="title">Dữ liệu</div>
  <div class="table-container" style="max-height: 300px; overflow: auto;">
    {% for table in tables %}
    {{ table|safe }}
    {% endfor %}
  </div>

  <div class="title">Xử lí dữ liệu</div>
  <button class="button is-dark mb-3" id="process-button">Sử dụng dữ liệu này</button>

  <div class="title">Phân tích dữ liệu</div>
  <div class="missing-stats-container">
    {% for missingstat in missingstats %}
    {{ missingstat|safe }}
    {% endfor %}
  </div>



</div>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    document.getElementById("datainput").classList.add("is-active");
    document.getElementById("datapreprocess").classList.remove("is-active");
    document.getElementById("dataprocess").classList.remove("is-active");

    currentSelection();
    preprocessEvent();
    processEvent();

    function processEvent() {
      document.getElementById("process-button").addEventListener('click', function() {
        setTimeout(function () {
          var href = /* window.location.host + */ "/choosedatapreprocess" + "/" + chosenData + "/" + chosenImputation;
          window.location.href = href;
        }, 500);
      })
    }

    function currentSelection() {
      console.log('check current selection');
      var href = window.location.href;
      var href = href.split("/");

      for (var i = 0; i < href.length; i++) {
        if (href[i] == "choosedata") {
          hadSelected(href, i);
          break;
        }
      }
    }

    function hadSelected(href, hrefindex) {
      console.log('had selected');
      chosenData = href[hrefindex + 1];
      console.log(chosenData)
      var chooseData = document.getElementById("choose-data").getElementsByTagName("input");
      for (var i = 0; i < chooseData.length; i++) {
        console.log(chooseData[i].value)
        if (chooseData[i].value == chosenData && chooseData != "null") {
          console.log('1')
          chooseData[i].checked = true;
        }
      }

      chosenImputation = href[hrefindex + 2];
      console.log(chosenImputation);
      var chooseImputation = document.getElementById("choose-imputation").getElementsByTagName("input");
      for (var i = 0; i < chooseImputation.length; i++) {
        console.log(chooseImputation[i].value)
        if (chooseImputation[i].value = chosenImputation && chosenImputation != "null") {
          console.log('2')
          chooseImputation[i].checked = true;
        }
      }
    }

    function preprocessEvent() {
      document.getElementById("preprocess-button").addEventListener('click', function () {
        var chosenData = null;
        var chooseData = document.getElementById("choose-data").getElementsByTagName("input");
        for (var i = 0; i < chooseData.length; i++) {
          if (chooseData[i].checked) {
            chosenData = chooseData[i].value;
          }
        }

        var chosenImputation = null;
        var chooseImputation = document.getElementById("choose-imputation").getElementsByTagName("input");
        for (var i = 0; i < chooseImputation.length; i++) {
          if (chooseImputation[i].checked) {
            chosenImputation = chooseImputation[i].value;
          }
        }
        setTimeout(function () {
          var href = /* window.location.host + */ "/choosedata" + "/" + chosenData + "/" + chosenImputation;
          window.location.href = href;
        }, 500);

      })
    }
  });
</script>
{% endblock %}